.container {
	max-width: 960px;
	margin: 0 auto;
}
.login-box {
	margin-top: 50px;
}
.register-form,
.login-form {
	margin-top: 20px;
}
.register-container,
.login-container {
	max-width: 480px;
	margin: 0 auto;
}
.admin_col_stu_info {
	cursor: pointer;
}